.search-container {
  /* width: 50vw; */
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid white;
  border-radius: 20px;
  margin: 1rem;
}

.search-inner {
  border: 1px solid black;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.669);
  border: 1px solid white; */
}

.search-input {
  width: 70%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

input::placeholder {
  font-weight: bold;
  opacity: .5;
  color: inherit;
  font-size: 16px;
}

.search-input-btn {
  color: rgb(82, 80, 80);
  background-color: transparent;
  border: none;
}

.search-dropdown {
  color:white;
  width: 100%;
  position: absolute;
  top: 4rem;
  margin-top: .6rem;
  background-color: rgba(48, 47, 47, 0.856);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: dark;
  max-height: 50vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.search-dropdown:active {
  /* display: none; */
}

.dropdown-row {
  padding: .5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.dropdown-row:hover {
  background-color: gray;
}

.dropdowm-row-img {
  width: 50px;

}

.dropdown-row-movie {
  padding-left: 1rem;
}
