.home-container {
  padding: 2rem;

  #trending-container {
    border: 1px solid black;
    border-radius: 8px;

    .trending-table {
      // background-color: rgb(217, 14, 14);

      .trending-table-coin {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .trending-coin-item {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          // justify-content: space-around;
          padding-left: 1rem;
          justify-content: space-between;
        }
      }

    }

  }
}
